<div class="coreview">
  <div class="contaier">
      <h2> Welcome </h2>
      <p>This project is a data visualization for packets transiting over the network.</p>
      <p>To use heatmap and chord chart visualization, you have two option :</p>
      <p style="padding-left: 30px"> 1 - select date of one day to visualize packets at this day</p>
      <p style="padding-left: 30px"> 2 - select "from date" and "to date" to visualize packets during this range date</p>
      <p>You can assign name to an ip adress to show this name instead of the ip adress in the chart.</p>
  </div>
</div>
