<div class="coreview">
  <h2> Packet count : heatmap chart visualization </h2>
  <div class="container">
    <div>
        <app-date-picker [preSelectDate]="fromSelectedDate" (valueChange)='dateChange($event, "from")'></app-date-picker>
        <app-date-picker [preSelectDate]="toSelectedDate" (valueChange)='dateChange($event, "to")'></app-date-picker>
    </div>
    <div *ngIf="!heatmapPrinted">
        <button mat-mini-fab color="primary" (click)="getCirosData()">Start</button>
    </div>
    <div *ngIf="heatmapPrinted">
        <button mat-mini-fab color="primary" (click)="onCancel()">Cancel</button>
    </div>
  </div>
  <div class="container">
    <app-heatmap [printed]="heatmapPrinted" [heatmapData]="heatmapData"></app-heatmap>
  </div>
</div>
